.common-f,
.common-f-ac,
.common-f-jc,
.common-f-sa,
.common-f-fg{
	display: flex;
}
.common-f-ac,
.common-f-jc{
	align-items: center;
}
.common-f-jc{
	justify-content: center;
}
.common-f-sa,
.common-f-fg{
	justify-content: space-around;
}
.common-f-fg{
	flex-grow: 1;
}